body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EFEFEF;
}

html, body {
  height: 100%;
  margin: 0;
}
main {
  min-height: 100%;
  margin-bottom: -1%;
}
main:after {
  content: "";
  display: block;
  height: 0px;
}
footer {
  background: #eee;
}
.full-height {
  padding: 10px 10px;
  margin: 1.5% 18% 3.5% 18%;
  border-radius: 5px;
  background-color: #d4d4d4;
}
.content
{
  padding: 15px;
  border: 4px dashed #EFEFEF;
  font-size: 21.5px;
  color: black;
}
.content hr{
  border: 0.5px solid #112B3C;
  width: 100%;
  margin: 5px 0px;
}
.content h1,h2,h3,h4
{
  margin: 0 0 16px 0;
}
.content p 
{
  margin: 0 0 11px 0;
}
footer
{
  /*position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;*/
  padding: 0px 0px;
  overflow: hidden;
  color: rgb(157, 157, 157);
  text-align: center;
  background-color: #112B3C;
}
footer p{
  margin: 7px 0px;

}
footer span
{
  color: red;
  font-size: 24px;
}
a:hover {
  /*text-decoration: underline;*/
  color: #F66B0E;
}
a {
  text-decoration: none;
}
/*list*/
/*.numberlist{
	width:450px;
}*/
.numberlist ol{
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  /*font: 15px 'trebuchet MS', 'lucida sans';*/
  padding: 0;
  /*margin-bottom: 4em;*/
}
.numberlist ol ol{
  margin: 0 0 0 2em;
}

.numberlist a{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 30px;
  /*background: #FFF;*/
  color: #444;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
}

.numberlist a:hover{
  /*background: #cbe7f8;
  text-decoration:underline;*/
  color: #F66B0E;
}
.numberlist a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;	
  left: -.5em;
  top: 61%;
  margin-top: -1.3em;
  background: #112B3C;
  height: 2em;
  width: 2em;
  line-height: 2em;
  /*border: .3em solid #fff;*/
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  color:#FFF;
}

/* End css list with numeber circle background -------------- */


/*nav bar*/
.topnav {
  overflow: hidden;
  background-color: #112B3C;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:hover {
  background-color: #F66B0E;
  color: black;
}

.topnav a.active {
  background-color: #F66B0E;
  color: white;

}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 800px) {
  .full-height {
    margin-right: 2%;
    margin-left: 2%;
  }
}

/* to have liner code block*/
.blockcode {
  overflow-x: auto;
  background-color: white;
  overflow: auto;
  max-height: 700px;
}
.blockcode p{
  margin: 0;
}
code {
  display: block;
}
p.code-line::before {
  content: counter(code-line);
  display: inline-block;
  color: grey;
  text-align: right;
  width: 2em;
  padding-right: 0.5em;
  border-right: 1px solid lightcoral;
  margin-right: 1em;
}
p.code-line {
  counter-increment: code-line;
  display: inline-block;
  min-width: 100%;
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  margin-top: -1px;
}

/* come classes for text style*/

.red_text{
  color :red;
}
.border{
  border-bottom: 1px solid #112B3C;
}